body {
    background: linear-gradient(to right, rgb(103, 223, 103), rgb(67, 136, 211));
    text-align: center;
    font-size: 2em;
    margin: 5vh;
}

input {
    font-size: 1em;
}

button {
    font-size: 1em;
    margin: 3vh;
    padding: 1vh;
    border: 2px solid black;
    cursor: pointer;
    border-radius: .5em;
}

button:active {
    background-color: rgb(184, 184, 184);
}

ol {
    margin: 0 20vw 0 20vw;
}